<div class="dxwx-item">
  <div class="c-student"></div>
  <div class="dxwx-info">
    <div class="dxwx-details">
      <div class="dxwx-type"></div>
      <div class="dxwx-details-container">
        <div class="dxwx-detail dxwx-date-leave">Date Leave: </div>
        <div class="dxwx-detail dxwx-date-return">Date Return: </div>
        <div class="dxwx-detail dxwx-time-leave">Time Leave: </div>
        <div class="dxwx-detail dxwx-time-return">Time Return: </div>
        <div class="dxwx-detail dxwx-location">Where: </div>
        <div class="dxwx-detail dxwx-transport">Transport: </div>
        <div class="dxwx-detail dxwx-notes"></div>
      </div>
    </div>
    <div class="p-status-container">
       <div class="status"></div>
    </div>
  </div>
</div>
