<div class="parietals-list-item">
  <div class="p-container-right">
    <div class="student-going"></div>
    <div class="graphic-container">⟶</div>
    <div class="student-to"></div>
  </div>
  <div class="p-container-left">
    <div class="parietal-info">
      <div class="p-time-start">
        <span class="float-label">Time Start: </span>
      </div>
      <div class="p-time-end">
        <span class="float-label">Time End: </span>
      </div>
      <div class="p-date"></div>
    </div>
    <div class="p-status-container">
      <div class="status"></div>
    </div>
  </div>
</div>
