<div class="parietals-list-item">
  <div class="student-going">
     <div class="p-pane-photo"></div>
     <div class="p-pane-info">
       <div class="student-name"></div>
       <div class="student-dorm"></div>
     </div>
  </div>
  <div class="graphic-container"></div>
  <div class="student-to">
     <div class="p-pane-photo"></div>
     <div class="p-pane-info">
       <div class="student-name"></div>
       <div class="student-dorm"></div>
     </div>
  </div>
  <div class="parietal-info">
    <div class="p-time-start"></div>
    <div class="p-time-end"></div>
  </div>
  <div class="status"></div>
</div>
