<div class="popup">
   <div class="popup-title">Create Session</div>
   <div class="popup-content">
      <input type="text" id="createsession-datepicker" class="createsession-datepicker" placeholder="Date">
      <div class="createsession-typeselector">
         <input type="radio" class="radio-buttons" id="radio1" name="radio" checked="checked"><label for="radio1">Lunch</label>
         <input type="radio" class="radio-buttons" id="radio2" name="radio"><label for="radio2">Dinner</label>
         <input type="radio" class="radio-buttons" id="radio3" name="radio"><label for="radio3">Dorm</label>
         <input type="radio" class="radio-buttons" id="radio4" name="radio"><label for="radio4">Custom</label>
      </div>
      <select id="dorm-select">
        <option>Penrose West</option>
        <option>Penrose East</option>
        <option>Sinclaire</option>
        <option>Figge</option>
        <option>Ballentine</option>
        <option>North Perry</option>
        <option>South Perry</option>
        <option>Sage East</option>
        <option>Sage West</option>
      </select>
      <input type="text" id="session-name" class="fancy-input">
   </div>
   <div class="popup-button-container">
     <div class="popup-button-subcontainer">
        <div class="ok-button">Submit</div>
        <div class="cancel-button">Cancel</div>
      </div>
   </div>
</div>
