<% include ./includes/start.html %>
<div class="popup">
    <form class="form" action="/login/" autocomplete="off" method="post">
        <div class="header">Please input session ID</div>
        <div class="info">
            <input class="input" type="text" name="session" placeholder="Session ID" required/>
            <div class="error-message"></div>
        </div>
        <div class="submit">
            <input class="button" type="submit" value="Sign In"/>
        </div>
    </form>
</div>
<% include ./includes/end.html %>

